/* THIS SECTION IS FOR  THE NAV */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #333;
    line-height: 1.6;
}


.container {
    width: 90%;
    max-width: 1200px;
    height: 60px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container span{
    color: white;
}


header {
    background: #004275;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo img {
    width:90px;
    height: 60px;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
}


nav ul li a  {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #e8491d;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #e8491d;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


#butt{
    padding: 15px 20px;
    border-radius: 5px;
    margin-left: 60px;
    background-color: #52bcec;
}

#butt:hover{
    background-color: #93c050;
    color: white;
}


.nav-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.nav-icons span{
    color: white;
}
.nav-icons button{
    justify-content: inherit;
    display: inline-block;

}

.nav-icons a {
    color: #333;
    margin-left: 20px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;

}
.search-bar button{
    height: 37px;
   margin-right: 20px;
   margin-bottom: 10px;
   margin-top: 6px;
}

.search-bar input {
    border: 1px solid #ddd;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 400px;
    height: 26px;
}

.dropdown{
    display: inline-block;
    margin-right: 20px;
 
}
.dropdown button{
    display: flex;
    background-color: rgb(217, 219, 224);
    color: rgb(8, 8, 8); 
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    width: 80px;
  
}
.dropdown button span{
    padding-right: 4px;
}
.dropdown a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    min-width: 100px;
    background-color: rgb(120, 157, 217);
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.887);
   

    
}
.dropdown:hover .content{
    padding: inherit;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: rgb(112, 121, 161);
}

.content a{
    padding: inherit;
}


#btn{
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    background-color: #91a2ed;
}


/* HERO */
.hero {
   background-image:url("../assets/images/1.jpg");
   background-size: 100% 100%;
   height: 100vh;
   width: 100vw;
}
.hero-over{
  padding-left: 20%;
  padding-top: 20%;
    color: #f5f1f1;
    font-size: 20px;
    font-family: 'Jost';
    row-gap: 10px;
}
.hero-over h4{
    font-size: 80px;
}
.hero-over p ,h4{
    margin: 3px 0;
    color: #ffffff;
    font-family: "Quicksand", sans-serif;
}

/* <!-- SLIDER CODE SECTION --> */


.product {
    height:90vh;
    width: 100vw;
    background-color: #abd2e4;
  }
  
  .product-category  {
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 38px;
    display: block;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 12px;
    padding-top: 35px;
    position: relative;
    text-transform: capitalize;
  }
  
  h3{
    text-align: center;
    color: #656565;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    padding: 0 50px;
  }
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-top: 100px;
    
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 400px;
    margin-right: 40px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .image-style {
    width: 100%;
    height: 80%;
    object-fit: cover;

  }
  .build{
    height: 50px;
    /* width: 50px; */
  }
  
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 70px;

  }
  
  .product-brand {
    text-transform: uppercase;
    margin-top: -12px;
  }
  
  .product-short-description {
    width: 100%;
    height: 100px;
    line-height: 20px;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 5px;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 60%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ACD2E4 100%);
    cursor: pointer;

  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  

  #ww img{
      height: 100vh;
      width: 100vw;
  }

  #help{
        background-image:url("../assets/images/pexels-medhat-ayad-122846-439227.jpg");
        background-size: 100% 100%;
        height: 80vh;
        width: 100vw;
        /* display:flex; */
        justify-content: center;
     }
     #hhead {
        text-align: center;
        margin-bottom: 10px;
    }
    
    #hhead h1 {
        font-size: 2em;
        margin: 0;
        padding: 10px;
        color: #ffffff;
        text-transform: uppercase;
        padding-top: 40px;
    }
    .main-main{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 90px;

    }
    .main-help {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
       
    }
    
    .help-1 {
        border: 1px solid #9eb1ea;
        border-radius: 2px;
        padding: 20px;
        width: 300px;
        height: 200px;
        text-align: center;
        background-color: #52bcec;
    }
    
    .help-1 i {
        font-size: 2em;
        color: #333;
        margin-bottom: 10px;
    }
    
    .help-1 span {
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        font-size: 22px;
        font-family: 'Jost';
        text-transform: uppercase;
    }
    
    .help-1 p {
        color: #e5e5e5;
        font-size: 0.9em;
        margin: 0;
    }


    #explore{
        display: flex;
        justify-content: center;
        background-color: #52bcec;
        height: 50vh;
        align-items: center;
        justify-content: space-between;
    }
    #text{
      margin-left: 30px;
      width: 50vw;
    }


    #text h2{
        font-family: Jost, sans-serif;
        font-size: 50px;
        display: block;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 12px;
        position: relative;
    }
    #text p {
        font-family: Jost, sans-serif;
        color: rgb(84, 84, 84);
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 300;
        line-height: 1.4;
    }
    #text button{
        height: 60px;
        width: 200px;
       background-color: #52bcec;
        border-radius: 7px;
    }
    #text button:hover{
        background-color: #e5e5e5;
    }


    #text button a {
        text-decoration: none;
        color: #333;
        text-transform: uppercase;
    }




    #iicons{
        display: flex;
        margin-right: 150px;
        background-color:#FFFFFF;
        height: 50%;
        align-items: center;
        width: 70%;
        padding: 40px;
        border-radius: 5px;
    }
    .cons{
        padding-left: 50px;
        padding-right: 50px;
        /* align-items; right; */
        /* background-color: #e8491d; */
        margin: 0%;
    }
    .cons a{
        text-decoration: none;
        text-transform: uppercase;
        color: #333;
    }







      #agents {
        padding: 50px 20px;
        text-align: center;
    
    }
    
    .agents-container h2 {
        font-size: 2em;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-family: 'Jost';
    }
    
    .agents-container p {
        color: #888;
        margin-bottom: 30px;
    }
    
    .agents-slider {
        position: relative;
        max-width: 100%;
        margin: auto;
        overflow: hidden;
    }
    
    .agents-slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    
    .agent-card {
        flex: 1 0 25%;
        box-sizing: border-box;
        padding: 10px;
    }
    
    .agent-card img {
        width: 100%;
        border-radius:10%;
        height:70%;
        object-fit: cover;
        overflow: hidden;
    }
    .agent-card img:hover{
        transition:1s;
        transform: scale(1.1);
    }
    
    .agent-card h3 {
        font-size: 1.2em;
        margin: 10px 0 5px;
    }
    
    .agent-card p {
        color: #888;
        font-size: 0.9em;
    }
    
    .imgg{
        overflow: hidden;
        border-radius: 10%;
        height: 70vh;
        margin-bottom: -140px;
    }

#last{
    display: flex;
    justify-content: space-between;
}

#last-text{
    padding-left: 70px;
    background-color: #004275;
    height: inherit;
    width: 100%;
}
#last-text h2{
    margin-top: 0px;
   font-size: 60px;
   font-family: 'jost';
   color: #f5f1f1;
}
#last-text p{
    color: #f5f1f1;
    font-family: 'jost';
}
#last-text button{
    height: 40px;
    width: 160px;
  background-color: rgb(82, 188, 236);
  border-radius: 5px;
  border: 1px solid rgb(82, 188, 236);
}
#last-text button a{
   text-decoration: none;
   color: #ffffff;
   font-size: 15px;
   text-transform: uppercase;
}

#some-img img{
    height: 50vh;
        width:50vw;
        margin-bottom: 0px;
    }

    .subscribe-container {
        display: flex;
        align-items: center;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    input[type="email"] {
        padding: 10px;
        margin-bottom: 20px;
        width: 300px;
        border: none;
        border-bottom: 1px solid #ccc;
        background-color: rgba(255, 255, 255, 0);
        color: white;
        font-size: 16px;
    }
    
    input[type="email"]::placeholder {
        color: #f5f5f5;
    }
    
    button[type="submit"] {
        padding: 10px 20px;
        background-color: #4CA1FF;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    
    button[type="submit"]:hover {
        background-color: #5782b7;
    }


    .footer {
        background-color: #1E3A5F;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }
    
    .footer-top {
        padding-bottom: 20px;
        border-bottom: 1px solid #333;
    }
    
    .subscribe p {
        margin: 0;
        font-size: 18px;
    }
    
    .subscribe h2 {
        margin: 10px 0;
        font-size: 24px;
    }
    
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    
    input[type="email"] {
        padding: 10px;
        width: 300px;
        border: none;
        border-radius: 5px 0 0 5px;
        outline: none;
        font-size: 16px;
    }
    
    button[type="submit"] {
        padding: 10px 20px;
        background-color: #f0ad4e;
        border: none;
        border-radius: 0 5px 5px 0;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
    
    button[type="submit"]:hover {
        background-color: #ec971f;
    }
    
    #foot{
       background-color: #f1f1f1;

    }
    .footer-bottom {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        padding-top: 20px;
       background-color: #f1f1f1;
       margin-right: 30px;
       margin-left: 30px;
       padding-bottom: 50px;
    }
.first-f img{
   height:15vh;
   width: 10vw;
   align-items: center;
}
.first-f{
    display: block;
    justify-content: center;
}
.first-f p{
margin-top: -1px;
font-family: 'Dosis';
}
.first-f i{
    padding-right: 20px;
}
.first-s a{
    display: block;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family:'jost';
    color: black;
    padding-bottom: 20px;
    /* margin-left: 40px; */
}

.first-s a:hover{
    color: #a12c2c;
}

.vid{
    /* width: 100vw; */
    background-color: #d0e5f4;
}
.vid h1{
text-align: center;
text-transform: uppercase;
font-family: "jost";
font-size: 30px;
margin-bottom: 20px;
margin-top: 0px;
padding-top: 35px;
}

.vod{
    width: 100vw;
    height: 100vh;
    margin-right: 0px;
    object-fit: cover;
}
.vidy {
    width: 100vw;
}

